Binaries
DerivedDataCache
Intermediate
Saved
Build/
Content/Meshes/
Content/Sound/
Content/Animations/
Content/ThirdPerson/
Content/3D_LOW_POLY_FarmAnimalPack/
Content/CartoonSkyShader/
Content/CartoonWaterShader/
Content/DreamscapeSeries/
Content/Fantasy_Music_Package_-_Orchestral/
Content/Golem/
Content/InfinityPBR/
Content/LPSDeluxe2TropicalEnvironment/
Content/LPSDeluxeMountainEnvironment/
Content/LowPolyFantasyWeaponPack/
Content/LowPolyMarket/
Content/LowPolyMedivealMarket/
Content/LowPolyPickupablesAndConsumablesSetPolyArt/
Content/LowPolyRPGWeapons/
Content/LowPolyVillage/
Content/LowPoly_Farm_animals/
Content/LowPoly_Wild_Animals/
Content/Low_Poly_Dungeon_Asset_Pack/
Content/Low_Poly_Viking_World/
Content/Materials/
Content/Polygon-MedievalCamp/
Content/PolygonAdventure/
Content/PolygonDungeonRealms/
Content/PolygonDungeons/
Content/PolygonFantasyKingdom/
Content/PolygonKnights/
Content/PolygonPirates/
Content/PolygonPrototype/
Content/PolygonVikings/
Content/StylizedCrystalsRocksAndGems/
Content/StylizedRockPack/
Content/Stylized_PBR_Nature/
Content/SurvivalSoundsVol2/
Content/Textures/UI/frame.png
Content/Ultimate_SFX/
Content/StarterContent/
Content/Fonts/
Content/Icons/
.vscode
.vs
.idea
.vsconfig
.editorconfig
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Platforms
